choice
  prompt "Libc variant"

config L4_LIBC_UCLIBC
  bool "uclibc-ng"

config L4_LIBC_MUSL
  bool "musl" if EXPERIMENTAL && (   BUILD_ARCH_arm64 || BUILD_ARCH_arm \
                                  || BUILD_ARCH_amd64 || BUILD_ARCH_x86)

endchoice

config L4_LIBC
  string
  default "uclibc-ng" if L4_LIBC_UCLIBC
  default "musl" if L4_LIBC_MUSL
